@font-face {
    font-family: myFirstFont;
    src: url(Apple_Chancery.ttf);
}
body{
    margin-left:100px;
    margin-right:100px;
    background-color:rgb(119, 101, 42);
}
.logoAndNav{
    background-color:black;
    display:flex;
    flex-direction:row;
    border-bottom:10px ridge gray;
}

.logoHeader{
    display:flex;
    width:25%;
}
.information{
    text-align:right;
    color:rgb(180, 180, 7);
    width:100%;
    background-image:url(fancyBackground.jpg);
    background-size:cover;
}
.navList{
    float:left;
}

.navBarUnList{
    list-style-type:none;
    display:inline-block;
    margin:0;
    padding:0;
    overflow:hidden;
}

nav{
    text-align:center;
    float:left;
}
a:hover{
    color:darkgrey;
}

nav a{
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(180, 180, 7);
    text-decoration:none;
    font-size:18px;
    padding:20px;
}

#homePageFoodPics{
    display:flex;
    flex-direction:row;
}

#homePageFoodPics img{
    width:33.333%;
    height: 50vh;
}

.homePageSection{
    background-color:black;
    border-top:10px ridge gray;
    color:white;
    text-align:center;
    margin:0;
    padding:0;
    font-family: myFirstFont;
}

#ourStoryHeader{
    margin:0;
}

em{
    text-decoration:underline;
}

#loginPageBody{
    background-image:url(LoginPageBackground.jpg);
    display:flex;
    flex-direction:row;
    color: rgb(180, 180, 7);
    font-family:MyFirstFont;
    font-weight:bold;
}

.loginPageSections{
    width:50%; 
    border: 3px solid gray;
    padding-left:5%;
}

.fancyPageHeader{
    text-align:center;
    background-color:black;
    height:30px;
    width:100%;
    margin:0;
    border:2px solid gray;
}

.pageHeaderText{
    font-size:20px;
    color:white;
    margin:0;
    padding:5px;
}

#reservationFormSection{
    height:100%;
    width:100%;
    background-color:rgb(206, 206, 112);
    text-align:center;
    background-image:url(FancyBackground3.jpg);
    color:rgb(180, 180, 7);
}

.reservationForm{
    text-align:center;
}

legend{
    text-align:center;
}

fieldset p,h4{
    margin:0;
    padding:0;
}

.prices{
    float:right;
}

#priceCalculatorDiv{
    align-content:center;
    text-align:center;
}

#couponGenerator{
    background-image:url(LoginPageBackground.jpg);
    font-family:MyFirstFont;
    color: rgb(180, 180, 7);
    text-align:center;
}

#coupGenHeader{
    background-image:url(couponGenBackground.jpg);
    background-size:100%;
    color:white;
    text-align:center;
    margin:0;
    padding:0;
}

.submitReview{
    background-image:url(FancyBackground3.jpg);
    color:rgb(180, 180, 7);
    text-align:center;
    padding:10px;
    border-bottom:3px ridge gray;
    border-right:3px ridge gray;
    border-left:3px ridge gray;
}

.tampaInfo{
    margin:0;
    padding:0;
}